$theme_colors: (
	'primary': theme("colors.primary"),
	'primary-light': theme("colors.primary-light"),
	'primary-extra-light': theme("colors.primary-extra-light"),
	'primary-medium': theme("colors.primary-medium"),
	'primary-dark': theme("colors.primary-dark"),
	'secondary': theme("colors.secondary"),
	'secondary-light': theme("colors.secondary-light"),
	'secondary-extra-light': theme("colors.secondary-extra-light"),
	'secondary-medium': theme("colors.secondary-medium"),
	'secondary-dark': theme("colors.secondary-dark"),
	'red': theme("colors.red"),
	'red-light': theme("colors.red-light"),
	'red-extra-light': theme("colors.red-extra-light"),
	'red-medium': theme("colors.red-medium"),
	'red-dark': theme("colors.red-dark"),
	'gray': theme("colors.gray"),
	'gray-light': theme("colors.gray-light"),
	'white': theme("colors.white"),
);

@each $name,
$color in $theme_colors {
	.has-#{$name}-background-color {
		background-color: $color;
	}
	.has-#{$name}-color {
		color: $color;
	}
	.has-#{$name}-fill-color {
		fill: $color;
	}
}