$footer-height: 340px;
$mobile-footer-height: 460px;
$mobile-header-height: 64px;
$header-height: 80px;
$fullheight-header: calc(100vh - #{$header-height});
$mobile-fullheight-header: calc(100vh - #{$mobile-header-height});
$fullheight-header-footer: calc(100vh - #{$footer-height});
$mobile-fullheight-header-footer: calc(100vh - #{$mobile-footer-height});

@mixin header-height {
	height: $mobile-header-height;
	@screen md {
		height: $header-height;
	}
}

@mixin footer-height {
	min-height: $mobile-footer-height;
	@screen md {
		min-height: $footer-height;
	}
}

@mixin main-content-height {
	min-height: $mobile-fullheight-header-footer;
	@screen md {
		min-height: $fullheight-header-footer;
	}
}

.site-header .nav-container {
	@include header-height;
}

.site-footer {
	@include footer-height;
}

.main-content {
	@apply pt-20;
	@include main-content-height;
}

.site-header.shrunk {
	h1 {
		@apply text-base text-black transition duration-500;
	}
	button {
		@apply text-black;
	}
}