/* Swiper */
$swiper-button-size: 30px;
$bullet-size: 13px;
$mobile-swiper-button-size: 30px;
$max-image-height: 51vh;
//$max-image-height-viewport-header: calc(100vh - #{$mobile-header-height});
$swiper-height: 70vh;

// Single Model swiper

.gallery-thumbs {
  .swiper-slide-thumb-active {
    position: relative;
    img {
      @apply border-4 border-primary rounded-2xl;
    }
  }
}

// Globals
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  //color: $anchor-color;
  width: $mobile-swiper-button-size;
  height: $mobile-swiper-button-size;
  border-radius: $mobile-swiper-button-size;
  font-size: $mobile-swiper-button-size * 1;
  line-height: $mobile-swiper-button-size * 1;
  @apply text-primary;
  /* optical */
  screen md {
    font-size: $swiper-button-size * 1;
    line-height: $swiper-button-size * 1;
    /* optical */
    width: $swiper-button-size;
    height: $swiper-button-size;
  }
}

.swiper-button-next {
  //right: $gutter;
}

.swiper-button-prev {
  //left: $gutter;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-horizontal {
  .swiper-pagination.swiper-pagination-bullets {
    height: $bullet-size;
    bottom: 0;
    @apply flex justify-center;
    
    .swiper-pagination-bullet {
      height: $bullet-size;
      width: $bullet-size;
      opacity: 1;
      @apply bg-transparent border-2 border-primary;
      &.swiper-pagination-bullet-active {
        @apply bg-primary;
      }
    }
  }
}
/* Swiper Single Manufacturer */
.single-manufacturer-swiper {
  padding-bottom: $bullet-size * 1.5;
}

