.bb-accordion-block {
	> ul {
		@apply list-none p-0;
		details {
			summary {
				@apply relative list-none outline-0;
				&::-webkit-details-marker {
					display: none;
				}
				&:after {
					@apply content-['＋'] font-normal text-3xl absolute right-0 inline-block text-center top-1/2 -mt-6;
				}
			}
			&[open] summary:after {
				@apply content-['–'] font-normal text-3xl absolute right-2 inline-block text-center top-1/2 -mt-6;
			}
			.accordion-content {
				@apply text-xl;
				ul {
					list-style: disc;
					li {
						margin-left: 1em;
					}
				}
			}
		}
	}
}
