.bb-accordion-block {
	> ul {
		@apply list-none p-0;
		details {
			summary {
				@apply relative list-none outline-0;
				&::-webkit-details-marker {
					display: none;
				}
				&:after {
					@apply font-normal text-4xl absolute content-['ï¼‹'] right-0 inline-block text-center top-4;
				}
			}
			&[open] summary:after {
				@apply content-['-'];
			}
		}
	}
}
