.bb-accordion-block {
	> ul {
		@apply bg-red-300;
		list-style: none;
		padding: 0;
		details {
			summary {
				position: relative;
				list-style: none;
				outline: none !important;
				@apply bg-red-300;
				&::-webkit-details-marker {
					display: none;
				}
				&:after {
					font-weight: lighter;
					font-size: 1.2em;
					position: absolute;
					content: '＋';
					right: 0;
					display: inline-block;
					text-align: center;
				}
			}
			&[open] summary:after {
				content: '－';
			}
		}
	}
}
