:root {
  --tec-font-family-sans-serif: 'Roboto', sans-serif;
  --tec-color-accent-primary: #0008ff;
}

// Loader
.tribe-events .tribe-events-view-loader {
	// align-items: flex-start;
	// background-color: var(--tec-color-background-transparent);
	// bottom: 0;
	// display: flex;
	// justify-content: center;
	// left: 0;
	// position: absolute;
	// right: 0;
	// top: 0;
	// z-index: var(--tec-z-index-spinner-container)
	@apply bg-warning-500;
}

// Buttons

// Forms

// .tribe-common-form-control-text__input.tribe-events-c-search__input {
// 	@apply !p-0;
// }


.tribe-events-notices {
	@apply bg-warning-200 text-black border-none;
	text-shadow: none;
}

.main-content .tribe-events {
	.tribe-events-calendar-series-archive__link {
		@apply text-primary;
	}
}

/* Single Events */
#tribe-events-pg-template {
	@apply max-w-full m-0 p-0;
	.tribe-events-event-image {
		@apply mb-0;
	}
	.tribe-organizer-url,
	dl,
	.tribe-events-nav-previous,
	.tribe-events-nav-next {
		a {
			@apply text-primary-600 hover:text-primary transition no-underline;
		}
	}
}

/* Filter Bar */
.tribe-events--has-filter-bar {
	.tribe-events-c-messages__message--notice {
		@apply rounded-xl bg-warning-100  border border-warning-500 p-5 my-10;
		.tribe-common-c-svgicon--messages-not-found {
			@apply hidden;
		}
	}
	.tribe-filter-bar__selected-filter {
		@apply flex items-center;
	}
	.select2-selection__rendered,
	.select2-search {
		@apply hidden;
	}
	ul.select2-results__options {
		@apply flex flex-col gap-3;
	}
	.tribe-filter-bar-c-filter__toggle-icon {
		&.tribe-filter-bar-c-filter__toggle-icon--minus {
			@apply hidden;
		}
	}
}

// Notices
.tribe-events-c-messages__message {
	&.tribe-events-c-messages__message--notice {
		@apply rounded-xl bg-warning-100 border border-warning p-5 my-10;
		svg {
				@apply hidden;
			}
	}
}
