:root {
  --tec-font-family-sans-serif: 'Roboto', sans-serif;
  --tec-color-accent-primary: #0008ff;
}

// Loader
.tribe-events .tribe-events-view-loader {
	// align-items: flex-start;
	// background-color: var(--tec-color-background-transparent);
	// bottom: 0;
	// display: flex;
	// justify-content: center;
	// left: 0;
	// position: absolute;
	// right: 0;
	// top: 0;
	// z-index: var(--tec-z-index-spinner-container)
	@apply bg-red-500;
}

// Buttons

// Forms

// .tribe-common-form-control-text__input.tribe-events-c-search__input {
// 	@apply !p-0;
// }


.tribe-events-notices {
	@apply bg-red-200 text-black border-none;
	text-shadow: none;
}

.main-content .tribe-events {
	.tribe-events-calendar-series-archive__link {
		@apply text-primary;
	}
}

/* Single Events */
#tribe-events-pg-template {
	@apply max-w-full m-0 p-0;
	.tribe-events-event-image {
		@apply mb-0;
	}
	.tribe-organizer-url,
	dl,
	.tribe-events-nav-previous,
	.tribe-events-nav-next {
		a {
			@apply text-primary-600 hover:text-primary transition no-underline;
		}
	}
}