.btn {
	@apply inline-flex items-center rounded-md border border-transparent bg-primary px-2 py-1 text-xl text-white hover:bg-primary-900 focus:outline-none focus:ring-2 focus:ring-focus focus:ring-offset-0 transition font-sans;
}

// Sizes
.btn-xs {
	@apply px-1.5 py-0.5 text-sm;
}

.btn-sm {
	@apply px-1.5 py-0.5 text-base lg:px-2 lg:py-0.5 lg:text-lg;
}

.btn-base {
	@apply px-2 py-0.5 text-lg lg:px-2 lg:py-1 lg:text-xl;
}

.btn-lg {
	@apply px-2 py-1 text-xl lg:px-2 lg:py-1 lg:text-2xl;
}

.btn-xl {
	@apply px-2 py-1 text-2xl lg:px-2 lg:py-1 lg:text-3xl;
}

// Outline
.btn-hollow {
	@apply bg-white text-primary border border-primary hover:border-primary-800 hover:bg-white hover:text-primary-800 focus:outline-none focus:ring-2 focus:ring-focus focus:ring-offset-0;
}

// Ghost
.btn-ghost {
	@apply bg-transparent text-primary border-none hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-focus focus:ring-offset-0 hover:text-primary-800;
}

.btn-menu {
	@apply text-base bg-transparent rounded-none text-black font-alt font-medium border-none hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-focus focus:ring-offset-0 hover:text-primary-800;
	&.current {
		@apply border-b border-t-0 border-l-0 border-r-0 border-primary-500 border-solid;
	}
}

.btn-menu-section {
	@apply text-base bg-transparent text-black font-alt font-bold  uppercase border-none hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-focus focus:ring-offset-0 hover:text-primary-800;
}

// Colors
.btn-red {
	@apply bg-red;

	&.btn-hollow {
		@apply bg-white text-red border border-red hover:bg-white hover:border-red-900 hover:text-red-900;
	}
}

.btn-secondary {
	@apply bg-secondary;

	&.btn-hollow {
		@apply bg-white text-secondary border border-secondary hover:bg-white hover:border-secondary-900 hover:text-secondary-900;
	}
}

// Only Icon FIXME: @IS NOT finished only one size
.btn-icon-only {
	@apply rounded-full flex items-center justify-center p-1;
	svg {
		@apply h-auto;
	}
	&.btn-xs {
	}

	&.btn-sm {
	}

	&.btn {
		@apply w-10 h-10;
	}

	&.btn-lg {
	}

	&.btn-xl {
	}
}

// With icon, but the size of the icon is defined in bb_icon
.btn-icon-left {
	@apply inline-flex items-center gap-1 w-auto;
	svg {
		@apply w-full h-full;
	}
	&.btn-xs {
	}
	
	&.btn-sm {
	}
	
	&.btn {
	}
	
	&.btn-lg {
	}
	
	&.btn-xl {
	}
}
.btn-expanded {
	@apply w-full;
}
