// Unstyled
.btn {
    @apply rounded-md inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out text-xl leading-none;
    //@apply min-h-12 h-12 px-4;
    @apply px-2.5 py-1.5;

    /* disabled */
    &-disabled,
    &[disabled],
    &:disabled {
        @apply pointer-events-none;
    }

    svg {
        @apply h-8 w-8;
    }

    &.btn-xs {
        @apply px-1.5 py-0.5 text-sm;

        svg {
            @apply icon-xs;
        }
    }

    &.btn-sm {
        @apply px-1.5 py-0.5 text-base lg:px-2 lg:py-0.5 lg:text-base;

        svg {
            @apply icon-sm;
        }
    }

    &.btn-lg {
        @apply px-2 py-1 text-xl lg:px-2.5 lg:py-1 lg:text-2xl;

        svg {
            @apply icon-lg;
        }
    }

    &.btn-xl {
        @apply px-2 py-1 text-2xl lg:px-3 lg:py-1.5 lg:text-3xl;

        svg {
            @apply icon-lg;
        }
    }
}

/* group */
.btn-group {
    @apply flex items-center gap-x-2 flex-wrap;

    &>input[type="radio"].btn {
        @apply appearance-none;
    }

    &>input[type="radio"].btn:before {
        content: attr(data-title);
    }
}

/* radio input and checkbox as button */
.btn:is(input[type="checkbox"]),
.btn:is(input[type="radio"]) {
    @apply w-auto appearance-none;
}

.btn:is(input[type="checkbox"]):after,
.btn:is(input[type="radio"]):after {
    @apply content-[attr(aria-label)];
}

// Styled
// hover + active color changes around 4-5 steps
.btn {
    @apply gap-2 no-underline font-sans font-robotonormal border;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;

    &:active:hover,
    &:active:focus {
        animation: button-pop 0s ease-out;
        transform: scale(var(--btn-600-scale, 0.98));
    }

    /* default btn */
    & {
        @apply border-primary bg-primary text-white outline-primary-700 no-underline hover:border-primary-500 hover:bg-primary-500;

        &.btn-active {
            @apply border-primary-500 bg-primary-500;
        }

        &:focus-visible {
            @apply outline outline-2 outline-offset-2;
        }
    }

    /* Menu */
    &-menu {
        @apply rounded-md inline-flex select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out leading-none text-base p-3 bg-transparent text-black font-alt font-medium hover:bg-neutral hover:border-neutral;

        &.current {
            @apply text-primary-500;
        }
    }

    /* brand colors */
    &-primary {
        @apply border-primary bg-primary text-white outline-primary hover:border-primary-500 hover:bg-primary-500;

        &.btn-active {
            @apply border-primary-500 bg-primary-500;
        }
    }

    &-secondary {
        @apply border-neutral bg-neutral text-black outline-neutral hover:border-neutral-200 hover:bg-neutral-200;

        &.btn-active {
            @apply border-black bg-black;
        }
    }

        &-neutral {
            @apply border-black bg-black text-white outline-black hover:border-neutral-700 hover:bg-neutral-700;

            &.btn-active {
                @apply border-black bg-black;
            }
        }

    &-accent,
    &-accent {
        @apply border-accent bg-accent text-accent-900 outline-accent;

        @media (hover: hover) {
            &:hover {
                @apply border-accent-400 bg-accent-400;
            }
        }

        &.btn-active {
            @apply border-accent-400 bg-accent-400;
        }
    }

    &-disabled {
        @apply border-neutral bg-neutral text-neutral-700 outline-neutral;

        @media (hover: hover) {
            &:hover {
                @apply border-neutral-600 bg-neutral-600;
            }
        }

        &.btn-active {
            @apply border-neutral-600 bg-neutral-600;
        }
    }

    /* btn with state colors */

    &-success {
        @apply border-success bg-success text-white outline-success hover:border-success-500 hover:bg-success-500;

        &.btn-active {
            @apply border-success bg-success;
        }
    }

    &-warning {
        @apply border-warning bg-warning text-white outline-warning hover:border-warning-400 hover:bg-warning-400;

        &.btn-active {
            @apply border-warning bg-warning;
        }
    }

    &-error,
    &-warning {
        @apply border-warning bg-warning text-white outline-warning hover:border-warning-400 hover:bg-warning-400;

        &.btn-active {
            @apply border-warning bg-warning;
        }
    }

    /* btn variants */
    &-ghost {
        @apply border border-transparent bg-transparent text-current shadow-none outline-current hover:bg-primary-200 hover:border-opacity-0 hover:bg-opacity-20;

        &.btn-active {
            @apply bg-primary-600 border-opacity-0 bg-opacity-20;
        }

        &.btn-secondary {
            @apply text-neutral-800 hover:border-neutral-500 hover:bg-neutral-500 hover:text-white;

            &.btn-active {
                @apply border-secondary-600 bg-secondary-600 text-secondary-700;
            }
        }

        &.btn-accent,
        &.btn-accent {
            @apply text-accent-800 hover:border-accent hover:bg-accent;

            &.btn-active {
                @apply border-accent-600 bg-accent-600 text-accent-700;
            }
        }

        &.btn-success {
            @apply text-success hover:border-success hover:bg-success hover:text-white;

            &.btn-active {
                @apply border-success bg-success text-white;
            }
        }

        &.btn-warning {
            @apply text-warning hover:border-warning hover:bg-warning hover:text-white;

            &.btn-active {
                @apply border-warning bg-warning text-white;
            }
        }

        &.btn-error,
        &.btn-warning {
            @apply text-warning hover:border-warning hover:bg-warning hover:text-white;

            &.btn-active {
                @apply border-warning bg-warning text-white;
            }
        }
    }

    &-link {
        @apply text-primary border-transparent bg-transparent underline shadow-none outline-current;

        @media (hover: hover) {
            &:hover {
                @apply border-transparent bg-transparent underline;
            }
        }

        &.btn-active {
            @apply border-transparent bg-transparent underline;
        }
    }

    /* outline */
    &-outline {
        @apply text-primary border-current bg-transparent shadow-none hover:border-primary-700 hover:bg-primary-700 hover:text-white;

        &.btn-active {
            @apply border-primary-700 bg-primary-700 text-white;
        }

        &.btn-neutral {
            @apply text-black hover:border-black hover:bg-neutral-200 hover:text-black;

            &.btn-active {
                @apply border-secondary-600 bg-secondary-600 text-secondary-700;
            }
        }

                &.btn-secondary {
                    @apply text-neutral-800 hover:border-neutral-500 hover:bg-neutral-500 hover:text-white;

                    &.btn-active {
                        @apply border-secondary-600 bg-secondary-600 text-secondary-700;
                    }
                }

        &.btn-accent,
        &.btn-accent {
            @apply text-accent-800 hover:border-accent hover:bg-accent;

            &.btn-active {
                @apply border-accent-600 bg-accent-600 text-accent-700;
            }
        }

        &.btn-success {
            @apply text-success hover:border-success hover:bg-success hover:text-white;

            &.btn-active {
                @apply border-success bg-success text-white;
            }
        }

        &.btn-warning {
            @apply text-warning hover:border-warning hover:bg-warning hover:text-white;

            &.btn-active {
                @apply border-warning bg-warning text-white;
            }
        }

        &.btn-error,
        &.btn-warning {
            @apply text-warning hover:border-warning hover:bg-warning hover:text-white;

            &.btn-active {
                @apply border-warning bg-warning text-white;
            }
        }
    }

    &-expanded {
        @apply w-full;
    }

    /* disabled */
    &.btn-disabled,
    &[disabled],
    &:disabled {
        @apply bg-neutral text-primary-700 border-opacity-0 bg-opacity-20 text-opacity-20;
    }

    @media (hover: hover) {

        &-disabled:hover,
        &[disabled]:hover,
        &:disabled:hover {
            @apply bg-neutral text-primary-700 border-opacity-0 bg-opacity-20 text-opacity-20;
        }
    }
}

/* group */
.btn-menu-section {
    @apply text-sm bg-transparent text-black font-alt font-bold uppercase border-none hover:bg-transparent hover:text-primary-800 rounded-md;
}

/* radio input and checkbox as button */
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
    @apply border-primary bg-primary text-primary-700;

    @media (hover: hover) {
        &:hover {
            @apply border-primary-500 bg-primary-500;
        }
    }

    &:focus-visible {
        @apply outline-primary;
    }
}

@keyframes button-pop {
    0% {
        transform: scale(var(--btn-600-scale, 0.98));
    }

    40% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}