// NOTE: Button blocks styles are moved to bb-blocks/buttons/style.scss !!!

// Unstyled
.btn {
	@apply rounded-md inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out text-xl leading-none;
	//@apply min-h-12 h-12 px-4;
	@apply px-2.5 py-1.5;

	/* disabled */
	&-disabled,
	&[disabled],
	&:disabled {
		@apply pointer-events-none;
	}

	svg {
		@apply h-8 w-8;
	}

	&.btn-xs {
		@apply px-1.5 py-0.5 text-sm;

		svg {
			@apply icon-xs;
		}
	}

	&.btn-sm {
		@apply px-1.5 py-0.5 text-base lg:px-2 lg:py-0.5 lg:text-base;

		svg {
			@apply icon-sm;
		}
	}

	&.btn-lg {
		@apply px-2 py-1 text-xl lg:px-2.5 lg:py-1 lg:text-2xl;

		svg {
			@apply icon-lg;
		}
	}

	&.btn-xl {
		@apply px-2 py-1 text-2xl lg:px-3 lg:py-1.5 lg:text-3xl;

		svg {
			@apply icon-lg;
		}
	}
}

/* group */
.btn-group {
	@apply flex items-center gap-x-2 flex-wrap;

	& > input[type='radio'].btn {
		@apply appearance-none;
	}

	& > input[type='radio'].btn:before {
		content: attr(data-title);
	}
}

/* radio input and checkbox as button */
.btn:is(input[type='checkbox']),
.btn:is(input[type='radio']) {
	@apply w-auto appearance-none;
}

.btn:is(input[type='checkbox']):after,
.btn:is(input[type='radio']):after {
	@apply content-[attr(aria-label)];
}

// Styled
// hover + active color changes around 4-5 steps
.btn {
	@apply gap-2 no-underline font-texts font-robotonormal border;
	animation: button-pop var(--animation-btn, 0.25s) ease-out;

	&:active:hover,
	&:active:focus {
		animation: button-pop 0s ease-out;
		transform: scale(var(--btn-600-scale, 0.98));
	}

	/* default btn */
	& {
		@apply border-primary bg-primary text-white outline-primary-dark no-underline hover:border-primary-dark hover:bg-primary-dark;

		&.btn-active {
			@apply border-primary-dark bg-primary-dark;
		}

		&:focus-visible {
			@apply outline outline-2 outline-offset-2;
		}
	}

	/* Menu */
	&-menu {
		@apply rounded-md inline-flex select-none flex-wrap items-center justify-start border-transparent text-left transition duration-200 ease-out leading-none text-base p-3 bg-transparent text-black font-headings font-medium hover:bg-neutral hover:border-neutral;

		&.current {
			@apply text-primary-dark;
		}
	}

	// NEW SETUP FOR STARTER THEME...
	/* brand colors */
	@each $color in 'primary', 'secondary' {
		&-#{$color} {
			@apply border-#{$color} bg-#{$color} text-white outline-#{$color} hover:border-#{$color}-dark hover:bg-#{$color}-dark;

			&.btn-active {
				@apply border-#{$color}-dark bg-#{$color}-dark;
			}
		}
	}

	&-neutral {
		@apply border-black bg-black text-white outline-black hover:border-neutral-700 hover:bg-neutral-dark;

		&.btn-active {
			@apply border-black bg-black;
		}
	}

	&-accent {
		@apply border-accent bg-accent text-white outline-accent;

		@media (hover: hover) {
			&:hover {
				@apply border-accent-dark bg-accent-dark;
			}
		}

		&.btn-active {
			@apply border-accent-dark bg-accent-dark;
		}
	}

	&-disabled {
		@apply border-neutral bg-neutral text-neutral-dark outline-neutral;

		@media (hover: hover) {
			&:hover {
				@apply border-neutral-dark bg-neutral-dark;
			}
		}

		&.btn-active {
			@apply border-neutral-dark bg-neutral-dark;
		}
	}

	/* btn with state colors */

	&-success {
		@apply border-success bg-success text-white outline-success hover:border-success hover:bg-success-dark;

		&.btn-active {
			@apply border-success bg-success;
		}
	}

	&-warning {
		@apply border-warning bg-warning text-white outline-warning hover:border-warning hover:bg-warning;

		&.btn-active {
			@apply border-warning bg-warning;
		}
	}

	&-error {
		@apply border-error bg-error text-white outline-error hover:border-error-light hover:bg-error-light;

		&.btn-active {
			@apply border-error-dark bg-error-dark;
		}
	}
	&-warning {
		@apply border-warning bg-warning text-white outline-warning hover:border-warning hover:bg-warning;

		&.btn-active {
			@apply border-warning bg-warning;
		}
	}

	/* btn variants */
	&-ghost {
		@apply border border-transparent bg-transparent text-current shadow-none outline-current hover:bg-primary-light hover:border-opacity-0 hover:bg-opacity-20;

		&.btn-active {
			@apply bg-primary-dark border-opacity-0 bg-opacity-20;
		}

		&.btn-secondary {
			@apply text-neutral-dark hover:border-neutral hover:bg-neutral hover:text-white;

			&.btn-active {
				@apply border-secondary-dark bg-secondary-dark text-secondary-dark;
			}
		}

		&.btn-accent,
		&.btn-accent {
			@apply text-accent-dark hover:border-accent hover:bg-accent;

			&.btn-active {
				@apply border-accent-dark bg-accent-dark text-accent-dark;
			}
		}

		&.btn-success {
			@apply text-success hover:border-success hover:bg-success hover:text-white;

			&.btn-active {
				@apply border-success bg-success text-white;
			}
		}

		&.btn-warning {
			@apply text-warning hover:border-warning hover:bg-warning hover:text-white;

			&.btn-active {
				@apply border-warning bg-warning text-white;
			}
		}

		&.btn-error,
		&.btn-warning {
			@apply text-warning hover:border-warning hover:bg-warning hover:text-white;

			&.btn-active {
				@apply border-warning bg-warning text-white;
			}
		}
	}

	&-link {
		@apply text-primary border-transparent bg-transparent underline shadow-none outline-current;

		@media (hover: hover) {
			&:hover {
				@apply border-transparent bg-transparent underline;
			}
		}

		&.btn-active {
			@apply border-transparent bg-transparent underline;
		}
	}

	/* outline */
	&-outline {
		@apply text-primary border-current bg-transparent shadow-none hover:border-primary-dark hover:bg-primary-dark hover:text-white;

		&.btn-active {
			@apply border-primary-dark bg-primary-dark text-white;
		}

		&.btn-neutral {
			@apply text-black hover:border-black hover:bg-neutral-light hover:text-black;

			&.btn-active {
				@apply border-secondary-dark bg-secondary-dark text-secondary-dark;
			}
		}

		&.btn-secondary {
			@apply text-neutral-dark hover:border-neutral-dark hover:bg-neutral hover:text-white;

			&.btn-active {
				@apply border-secondary-dark bg-secondary-dark text-secondary-dark;
			}
		}

		&.btn-accent,
		&.btn-accent {
			@apply text-accent-dark hover:border-accent hover:bg-accent;

			&.btn-active {
				@apply border-accent-dark bg-accent-dark text-accent-dark;
			}
		}

		&.btn-success {
			@apply text-success hover:border-success hover:bg-success hover:text-white;

			&.btn-active {
				@apply border-success bg-success text-white;
			}
		}

		&.btn-warning {
			@apply text-warning hover:border-warning hover:bg-warning hover:text-white;

			&.btn-active {
				@apply border-warning bg-warning text-white;
			}
		}

		&.btn-error,
		&.btn-warning {
			@apply text-warning hover:border-warning hover:bg-warning hover:text-white;

			&.btn-active {
				@apply border-warning bg-warning text-white;
			}
		}
	}

	&-expanded {
		@apply w-full;
	}

	/* disabled */
	&.btn-disabled,
	&[disabled],
	&:disabled {
		@apply bg-neutral text-primary-dark border-opacity-0 bg-opacity-20 text-opacity-20;
	}

	@media (hover: hover) {
		&-disabled:hover,
		&[disabled]:hover,
		&:disabled:hover {
			@apply bg-neutral text-primary-dark border-opacity-0 bg-opacity-20 text-opacity-20;
		}
	}
}

/* group */
.btn-menu-section {
	@apply text-sm bg-transparent text-black font-headings font-bold uppercase border-none hover:bg-transparent hover:text-primary-dark rounded-md;
}

/* radio input and checkbox as button */
.btn:is(input[type='checkbox']:checked),
.btn:is(input[type='radio']:checked) {
	@apply border-primary bg-primary text-primary bg-blend-darken;

	@media (hover: hover) {
		&:hover {
			@apply border-primary bg-primary;
		}
	}

	&:focus-visible {
		@apply outline-primary;
	}
}

@keyframes button-pop {
	0% {
		transform: scale(var(--btn-600-scale, 0.98));
	}

	40% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(1);
	}
}
