@font-face {
	font-family: 'Headings';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Texts';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('../fonts/RobotoFlex.woff2') format('woff2');
}

@font-face {
	font-family: 'Menus';
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
	src: url('../fonts/RobotoFlex.woff2') format('woff2');
}
