// Used by `bb_icon()`
.bb-icon {
	display: inline-block;

	svg {
		display: inline-block;
		height: 100%;
		width: 100%;
		margin-bottom: 0.2em;
	}

	// Special cases
	&.grid {
		display: grid;
		svg {
			margin: 0;
		}
	}
}

.icon-xs {
	@apply h-4 w-4;
}
.icon-sm {
	@apply h-5 w-5;
}
.icon-base {
	@apply h-7 w-7;
}
.icon-lg {
	@apply h-8 w-8;
}
.icon-xl {
	@apply h-9 w-9;
}
