//FIXME: need some cleanup here

// Domains
#navmenu_desktop_domains {
	a {
		&.current {
			// Current domain or top-level page
		}
	}
}

// Menu items in dropdown
#navmenu_desktop_dropdown {
	li {
		&.current {
			// Current page
		}
		&.current {
			@apply text-primary-500;
		}
	}
}

// Dropdown animations (could not get them to work with AlpineJS)
#navmenu_desktop_dropdown {
	& > div.invisible {
		opacity: 0;
	}
	& > div.visible {
		opacity: 1;
		transition: opacity 0.2s;
	}
}

.btn-menu {
	@apply text-base p-2 bg-transparent text-black font-alt font-medium border-white hover:bg-gray;
	&.current {
		@apply text-primary-500;
	}
}

.btn-menu-section {
	@apply text-base bg-transparent text-black font-alt font-bold  uppercase border-none hover:bg-transparent hover:text-primary-800 rounded-md;
}
