// Domains
#navmenu_desktop_domains {
	a {
		&.current {
			// Current domain or top-level page
		}
	}
}

// Menu items in dropdown
#navmenu_desktop_dropdown {
	li {
		&.current {
			// Current page
		}
		&.current {
			@apply text-primary-dark;
		}
	}
}

// Dropdown animations (could not get them to work with AlpineJS)
#navmenu_desktop_dropdown {
	& > div.invisible {
		opacity: 0;
	}
	& > div.visible {
		opacity: 1;
		transition: opacity 0.2s;
	}
}


.menu {
	@apply flex flex-col divide-y divide-primary-dark md:divide-y-0;
	&.horizontal {
		@apply md:flex-row;
	}
	&.right {
		li {
			@apply md:justify-end;
		}
	}
	li {
		@apply flex;
		a,
		button {
			@apply btn btn-menu;
		}
		&.current-menu-item {
			a {
				@apply underline;
			}
		}
	}
}

.menu.subnav {
	li {
		a {
			@apply text-primary-dark;
		}
	}
}