.bb-image-block {
	// Hover on the image shows the caption
	&:hover {
		figcaption {
			visibility: visible;
		}
	}

	// Caption always visible and below image for touch devices
	@media only screen and (hover: none) {
		figure {
			img {
				@apply rounded-none rounded-b-none rounded-2xl;
			}
			figcaption {
				visibility: visible;
				position: relative;
			}

			&.no_caption {
				img {
					@apply rounded-2xl;
				}
			}
		}
	}
}
