@tailwind base;
@tailwind components;
@tailwind utilities;


// List of colors as defined in tailwind.config.js
$bb_colors: 'primary', 'secondary', 'neutral', 'success', 'warning', 'error', 'accent';

/* Styles for BB-Blocks */
@import '../../bb-blocks/**/style.scss';

/* UI Basic components */
@import './ui/*';

/* Components */
@import './components/*';

/* Gutenberg overwrites */
@import './gutenberg-overwrites/*';

/* Plugins overwrites */
@import 'plugin-overwrites/*';

/* Templates */
@import './templates/*';
