// (ACF block using Foundation markup)
.acf-block-accordion {
	> ul {
		list-style: none;
		padding: 0;
		details {
			summary {
				position: relative;
				list-style: none;
				outline: none !important;
				&:after {
					font-weight: lighter;
					font-size: 1.2em;
					position: absolute;
					content: '＋';
					right: 0;
					display: inline-block;
					text-align: center;
				}
			}
			&[open] summary:after {
				content: '－';
			}
		}
	}
}
