section {
  @apply relative;

  &.full {
    @apply fixed inset-0 h-auto z-50 bg-white;

    h2 {
      @apply p-2;
    }

    .close {
      @apply block;
    }

    .prog_container {
      @apply block;
    }
  }

  h2::after {
    content: '';
  }

  .close {
    @apply hidden absolute top-4 right-2 cursor-pointer;

    &::after {
      content: 'Schliessen';
    }
  }

  .prog_container {
    @apply w-full overflow-auto bg-white absolute top-16 bottom-0;
  }
}

.table_container {
  @apply max-h-[600px] overflow-hidden rounded-xl shadow-xl bg-white p-3 pt-0;
  .time_line {
    @apply absolute top-0 w-0 h-0 border border-error left-0 right-0 z-10;
  }

  table {
    @apply relative text-xs;

    th {
	  @apply p-2 align-top text-left bg-white;
	}
    td {
      @apply p-2 align-top rounded-2xl border-4 border-white;
    }

    tr:first-of-type th {
      @apply sticky top-0;
    }

    tr th {
      @apply sticky top-0;
    }

    td [typeof='mw:File'] {
      @apply hidden;
    }

    tr.now th {
      @apply bg-error;
    }
  }
}

/* Background colors */
.hintergrundfarbe9 {
  @apply bg-success-light;
}

.hintergrundfarbe3 {
  @apply bg-warning-light;
}

.hintergrundfarbe7 {
  @apply bg-error-light;
}

.hintergrundfarbe8 {
  @apply bg-primary-light;
}

.hintergrundfarbe5 {
  @apply bg-neutral-light;
}